* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-family: 'Cairo', sans-serif;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: blue;
  padding: 20px;
}

main {
  background-color: blueviolet;
  padding: 20px;
}
button {
  padding: 10px;
  cursor: pointer;
}

footer {
  background-color: chartreuse;
  padding: 20px;
}